<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">

<head th:replace="~{fragments/head::head(pageName='About Us')}"></head>

<body>
  <div th:replace="~{fragments/nav::nav}"></div>



  <div class="relative isolate pt-14 " data-aos="fade-up" data-aos-duration="1000">
    <div class="relative overflow-hidden mt-8 bg-black py-2">
      <img class="object-cover w-full h-[300px] xl:h-[400px]" src="/images/about-us-poster.png"
        alt="about us poster">
      <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    </div>

    <p
      class="animate__animated animate__fadeInLeft absolute bottom-4 left-4 text-5xl lg:text-9xl font-extrabold tracking-wide stroke-text">
      ABOUT US
    </p>

  </div>


  <div class="animate__animated animate__zoomIn p-8 mt-10 overflow-hidden" style="animation-delay: 1s;" data-aos="fade-up" data-aos-duration="1000">

    <div class="flex sm:flex-row flex-col items-center gap-5" data-aos="fade-up"
      data-aos-duration="1000">
      <div class="overflow-hidden rounded-full aspect-square sm:aspect-auto sm:rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)] sm:w-[50%] xl:w-[25%] sm:pt-8 sm:pr-8 bg-zinc-900">
        <img class="object-cover sm:object-contain w-full sm:rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]" src="/images/the-creator.jpg" alt="image of the creator">
      </div>

      <div class="w-full xl:w-[60%] p-4 rounded-2xl ">
        <h1
          class="text-white bg-black p-2 rounded-full text-center font-mono text-balance font-semibold text-3xl  lg:text-4xl xl:text-7xl uppercase">
          The Creator</h1>
        <p class="mt-8 text-pretty font-medium text-sm lg:text-xl xl:text-2xl">
          <span class="text-pink-600 font-bold">Hi, I’m Andjelina,</span> a junior software developer who loves both programming and
          fashion. With Dripify,
          I’ve combined <span class="font-bold">my passion for technology with my love for style and
            sustainability.</span> This platform
          is designed to make it easier for people to buy and sell pre-loved clothes, promoting <span
            class="font-bold">eco-conscious
            choices while celebrating individuality.</span> By blending innovation with environmental awareness,
          I aim to create a meaningful impact through technology.
        </p>
      </div>

    </div>
  </div>

  <div class="relative isolate p-8 xl:mt-32 mt-10 overflow-hidden" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="font-mono text-balance text-4xl font-semibold sm:text-7xl uppercase">
      More than a marketplace,<br>
      it's a movement</h1>
    <p class="mt-8 text-pretty font-medium  text-sm sm:text-xl/8 lg:w-[75%]" style="animation-delay: 1s;">
      Dripify is not just about buying and selling clothes; it's about redefining the way we perceive fashion. Our
      platform champions
      sustainability, individuality, and community, offering a space where fashion enthusiasts can make meaningful
      connections while contributing to a greener planet. By embracing secondhand fashion, we are driving a shift
      toward conscious consumption and proving that style and sustainability can go hand in hand. Together, we are
      not just shaping wardrobes but also shaping a better future for all.</p>
  </div>

  


  <div class="flex flex-col xl:flex-row justify-evenly items-center relative isolate p-8 mt-10 xl:mt-32 overflow-hidden"
    data-aos="fade-up" data-aos-duration="1000">
    <div class="xl:w-[30%] mb-10 xl:mb-0 overflow-hidden rounded-lg drop-shadow-md shadow-zinc-800">
      <img class="object-cover" src="/images/about-us-img-1.jpg" alt="clothing racks">
    </div>
    <div class="content ">
      <h1 class="font-mono text-center text-4xl font-semibold sm:text-7xl uppercase">
        Why choose Dripify?</h1>

      <ul class="mt-6 space-y-8 text-sm sm:text-lg text-gray-800 max-w-3xl ">
        <li class="flex items-start space-x-3" data-aos="fade-left" data-aos-duration="1200">
          <span class="w-5 h-5 bg-pink-500 rounded-full mt-1"></span>
          <div>
            <strong class="font-bold">Sustainability at the Core</strong>
            <p>At Dripify, we believe that fashion should not come at the expense of the planet. Our
              platform encourages the circular economy by promoting the reuse and recycling of clothing.
              By choosing Dripify, you're not just upgrading your wardrobe—you're making a conscious
              choice to support sustainability and reduce the environmental impact of fast fashion.</p>
          </div>
        </li>
        <li class="flex items-start space-x-3" data-aos="fade-left" data-aos-duration="1500">
          <span class="w-5 h-5 bg-pink-500 rounded-full mt-1"></span>
          <div>
            <strong class="font-bold">Curated Selection for Every Style</strong>
            <p>Dripify offers an extensive collection of pre-loved, high-quality items that cater to all
              styles and preferences. Whether you’re looking for vintage pieces, high-end brands, or
              everyday essentials, our platform ensures that you have access to a diverse range of
              clothing options. Our easy-to-use interface allows you to browse and find exactly what
              you're looking for, with new listings added regularly.</p>
          </div>
        </li>
        <li class="flex items-start space-x-3" data-aos="fade-left" data-aos-duration="1700">
          <span class="w-5 h-5 bg-pink-500 rounded-full mt-1"></span>
          <div>
            <strong class="font-bold">Affordable Fashion, Without Compromise</strong>
            <p>Shopping on Dripify means gaining access to stylish, high-quality fashion at a fraction of
              the price. Our marketplace offers a way to refresh your wardrobe without breaking the bank.
              Whether you're selling or buying, Dripify ensures that you get the best value for your
              money, all while supporting sustainable practices.</p>
          </div>
        </li>
      </ul>
    </div>

  </div>

  


  <div class="relative isolate p-8 mt-32 xl:mb-96 mb-40 overflow-hidden " data-aos="fade-up" data-aos-duration="1000">
    <h1 class="font-mono  text-4xl font-semibold sm:text-7xl uppercase text-right">
      Easy-to-Use Platform and<br>
      Secure Experience</h1>

    <div class="flex flex-col xl:flex-row justify-evenly gap-3 xl:gap-0">
      <p class="mt-8 text-sm font-medium  sm:text-xl/8 xl:w-[50%] ">
        At Dripify, we prioritize both ease of use and security to offer you a smooth, stress-free experience.
        Our intuitive platform is designed for effortless navigation, making it simple to buy, sell, and browse
        items. At the same time, we ensure your safety with secure payment methods, user verification, and a robust
        review system, so you can shop and sell with confidence, knowing that your information and transactions are
        always protected.</p>

      <div class="flex flex-col sm:flex-row gap-2 items-center  justify-center  gap-x-6 py-3">
        <a th:href="@{/products/new-arrivals}"
          class="bg-black px-6 py-3 lg:text-2xl font-semibold rounded-lg text-white hover:ease-in duration-200 hover:bg-pink-600 hover:text-white uppercase">Shop
          the Latest Styles</a>
        <a th:href="@{/products/new}"
          class="bg-black px-6 py-3 lg:text-2xl font-semibold rounded-lg text-white hover:ease-in duration-200 hover:bg-pink-600 hover:text-white uppercase">Sell
          your drip</a>
      </div>
    </div>

  </div>


  <!-- FOOTER -->
  <footer th:replace="~{fragments/footer::footer}"></footer>


  <button id="scrollToTop"
    class="hidden sm:block fixed bottom-5 right-5 bg-black text-white text-4xl rounded-full p-5 px-8 shadow-lg opacity-0 transition-opacity duration-300">↑</button>

</body>

</html>
