<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">

<head th:replace="~{fragments/head::head(pageName='Checkout')}"></head>

<body>

    <div class="mt-24 sm:mt-28 flex justify-center">
        <ol class=" items-center flex w-full max-w-2xl text-center text-sm font-medium text-gray-500  sm:text-base">
            <li
                    class="text-zinc-900 after:border-1 flex items-center text-primary-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-zinc-900  sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
                    <span class="flex items-center after:mx-2 after:text-gray-200 after:content-['/']  sm:after:hidden">
                        <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Cart
                    </span>
            </li>

            <li
                    class="text-zinc-900 after:border-1 flex items-center text-primary-700 after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-zinc-400  sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10">
                    <span class="flex items-center after:mx-2 after:text-gray-200 after:content-['/']  sm:after:hidden">
                        <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        Checkout
                    </span>
            </li>

            <li class="flex shrink-0 items-center">
                <svg class="me-2 h-4 w-4 sm:h-5 sm:w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                Order completed
            </li>
        </ol>
    </div>

    <section class="bg-white py-8 antialiased md:py-16">
        <form th:action="@{/orders/checkout}" th:method="POST" th:object="${orderCreateRequest}"
              class="mx-auto max-w-screen-xl px-4 2xl:px-0">
            <div class="mt-6 sm:mt-8 lg:flex lg:items-start lg:gap-12 xl:gap-16">
                <div class="min-w-0 flex-1 space-y-8">
                    <div class="space-y-4">
                        <h2 class="text-xl font-semibold text-gray-900 ">Delivery Details</h2>

                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                            <div>
                                <label for="name" class="mb-2 block text-sm font-medium text-gray-900 "> Name*
                                </label>
                                <input type="text" id="name"
                                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 "
                                    placeholder="Ivan Ivanov" th:field="*{purchaserFullName}" required />
                                <span th:if="${#fields.hasErrors('purchaserFullName')}"
                                      th:errors="*{purchaserFullName}"
                                      class="mt-2 ml-1 text-sm text-red-500"></span>
                            </div>

                            <div>
                                <div class="mb-2 flex items-center gap-2">
                                    <label for="select-country-input-3"
                                        class="block text-sm font-medium text-gray-900 "> Country* </label>
                                </div>
                                <select th:field="*{country}" id="select-country-input-3"
                                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 ">
                                    <option value="" selected disabled>-Select Country-</option>
                                    <option th:each="country: ${T(com.dripify.order.model.Country).values()}"
                                    th:value="${country}" th:text="${country}"
                                    ></option>
                                </select>
                                <span th:if="${#fields.hasErrors('country')}"
                                      th:errors="*{country}"
                                      class="mt-2 ml-1 text-sm text-red-500"></span>
                            </div>

                            <div>
                                <div class="mb-2 flex items-center gap-2">
                                    <label for="select-city-input-3" class="block text-sm font-medium text-gray-900 ">
                                        City* </label>
                                </div>
                                <select th:field="*{city}" id="select-city-input-3"
                                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 ">
                                    <option value="" selected disabled>-Select City-</option>
                                    <option th:each="city: ${T(com.dripify.order.model.City).values()}"
                                            th:value="${city.name()}" th:text="${city}"
                                    ></option>
                                </select>
                                <span th:if="${#fields.hasErrors('city')}"
                                      th:errors="*{city}"
                                      class="mt-2 ml-1 text-sm text-red-500"></span>
                            </div>

                            <div>
                                <label for="address" class="mb-2 block text-sm font-medium text-gray-900 "> Address*
                                </label>
                                <input th:field="*{purchaserAddress}" type="text" id="address"
                                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 "
                                    placeholder="E.g. Ul. Stara Planina 20 [apartment number/details]" required />
                                <span th:if="${#fields.hasErrors('purchaserAddress')}"
                                      th:errors="*{purchaserAddress}"
                                      class="mt-2 ml-1 text-sm text-red-500"></span>
                            </div>

                            <div>
                                <label class="mb-2 block text-sm font-medium text-gray-900 "> Phone
                                    Number* </label>
                                <div class="flex items-center">
                                    <span id="dropdown-phone-button-3" data-dropdown-toggle="dropdown-phone-3"
                                        class="z-10 inline-flex shrink-0 items-center rounded-s-lg border border-gray-300 bg-gray-100 px-4 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-200 "
                                        type="button">
                                        <svg class="size-4 mr-1" viewBox="0 0 513 357.071">
                                            <path fill="#fff"
                                                d="M28.477.32h456.044c15.488 0 28.159 12.672 28.159 28.16v300.111c0 15.488-12.671 28.16-28.159 28.16H28.477c-15.486 0-28.157-12.672-28.157-28.16V28.48C.32 12.992 12.991.32 28.477.32z" />
                                            <path fill="#00966E"
                                                d="M.32 119.129h512.36v209.462c0 15.488-12.671 28.16-28.159 28.16H28.477c-15.486 0-28.157-12.672-28.157-28.16V119.129z" />
                                            <path fill="#D62612"
                                                d="M.32 237.942h512.36v90.649c0 15.488-12.671 28.16-28.159 28.16H28.477c-15.486 0-28.157-12.672-28.157-28.16v-90.649z" />
                                            <path fill="#CCC"
                                                d="M28.48 0h456.04c7.833 0 14.953 3.204 20.115 8.365C509.796 13.527 513 20.647 513 28.479v300.112c0 7.832-3.204 14.953-8.365 20.115-5.162 5.161-12.282 8.365-20.115 8.365H28.48c-7.833 0-14.953-3.204-20.115-8.365C3.204 343.544 0 336.423 0 328.591V28.479c0-7.832 3.204-14.952 8.365-20.114C13.527 3.204 20.647 0 28.48 0zm456.04.641H28.48c-7.656 0-14.616 3.132-19.661 8.178C3.773 13.864.641 20.824.641 28.479v300.112c0 7.656 3.132 14.616 8.178 19.661 5.045 5.046 12.005 8.178 19.661 8.178h456.04c7.656 0 14.616-3.132 19.661-8.178 5.046-5.045 8.178-12.005 8.178-19.661V28.479c0-7.655-3.132-14.615-8.178-19.66C499.136 3.773 492.176.641 484.52.641z" />

                                        </svg>
                                        +359
                                    </span>
                                    <div class="relative w-full">
                                        <input th:field="*{purchaserPhoneNumber}" type="text" id="phone-input"
                                            class="z-20 block w-full rounded-e-lg border border-s-0 border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 "
                                            pattern="\d{3}\s+\d{3}\s+\d{3}" placeholder="890 888 888" required />

                                    </div>

                                </div>
                                <span th:if="${#fields.hasErrors('purchaserPhoneNumber')}"
                                      th:errors="*{purchaserPhoneNumber}"
                                      class="mt-2 ml-1 text-sm text-red-500"></span>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-baseline gap-5 space-y-4">
                        <h3 class="text-xl font-semibold text-gray-900 ">Payment Method Upon Delivery</h3>

                        <select class="flex-grow font-bold border-2 border-zinc-900 p-2 rounded-full"
                        th:field="*{orderPayment}">
                            <option class="font-bold"
                            th:each="payment: ${T(com.dripify.order.model.OrderPayment).values()}"
                            th:value="${payment}"
                            th:text="${payment}"></option>
                        </select>
                    </div>
                    <span th:if="${#fields.hasErrors('orderPayment')}"
                          th:errors="*{orderPayment}"
                          class="mt-2 ml-1 text-sm text-red-500"></span>

                    <div class="space-y-4">
                        <h3 class="text-xl font-semibold text-gray-900 ">Delivery Methods</h3>

                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            <label th:each="courier: ${T(com.dripify.order.model.OrderDeliveryCourier).values()}"
                                   th:for="${courier.name().toLowerCase()}"
                                   class="block rounded-lg border border-gray-200 bg-gray-50 p-4 ps-4 hover:shadow-md cursor-pointer">
                                <div class="flex items-start">
                                    <div class="flex h-5 items-center">
                                        <input th:id="${courier.name().toLowerCase()}"
                                               th:field="*{orderDeliveryCourier}"
                                               th:value="${courier}"
                                               type="radio" name="delivery-method"
                                         class="h-4 w-4 border-gray-300 bg-white text-primary-600" />
                                    </div>
                                    <div class="ms-4 text-sm">
                                        <span class="font-medium leading-none text-gray-900" th:text="${courier}"></span>
                                    </div>
                                </div>
                            </label>


                            
                        </div>
                        <span th:if="${#fields.hasErrors('orderDeliveryCourier')}"
                              th:errors="*{orderDeliveryCourier}"
                              class="mt-2 ml-1 text-sm text-red-500"></span>
                    </div>


                </div>

                <div class="mt-6 w-full space-y-6 sm:mt-8 lg:mt-0 lg:max-w-xs xl:max-w-md">
                    <div class="flow-root">
                        <div class="-my-3 divide-y divide-gray-200">
                            <div class="space-y-4 my-4">

                                <div th:each="product: ${user.shoppingCart.products}" class="product-box flex items-start gap-4">
                                    <div
                                        class="w-32 aspect-square max-lg:w-24 max-lg:h-24 flex shrink-0 rounded-lg overflow-hidden">
                                        <img th:src="${product.images.get(0).imageUrl}"
                                             th:alt="${product.name}"
                                            class="w-full object-cover object-center" />
                                    </div>
                                    <div class="w-full">
                                        <h3 class="text-sm lg:text-xl font-bold text-zinc-800" th:text="${product.name}"></h3>
                                        <ul class="text-xs lg:text-sm text-zinc-800  space-y-1 mt-3">
                                            <li class="flex flex-wrap gap-4 font-semibold" th:text="${product.seller.username}"></li>
                                            <li class="flex flex-wrap gap-4 font-semibold">Category <span
                                                    class="ml-auto font-normal" th:text="${product.category.name + ' | ' + product.gender}">

                                            </span></li>
                                            <li class="flex flex-wrap gap-4 font-semibold">Size <span
                                                    class="ml-auto font-normal" th:text="${product.size}"></span></li>

                                            <li class="price flex flex-wrap gap-4 font-semibold">Price <span
                                                    class="ml-auto font-normal" th:text="${product.price + ' BGN'}"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <dl class="flex items-center justify-between gap-4 py-3">
                                <dt class="text-base font-bold text-gray-900 ">Total</dt>
                                <dd class="total-price text-base font-bold text-gray-900 ">0 BGN</dd>
                            </dl>
                        </div>
                        <small class="block text-right">Delivery fee not included!</small>

                    </div>

                    <button type="submit"
                        class="flex w-full items-center justify-center bg-zinc-900 rounded-lg
                         bg-primary-700 px-5 py-2.5 text-sm font-medium text-white transition
                         ease-in-out duration-300 hover:bg-zinc-600 focus:outline-none focus:ring-4
                           focus:ring-primary-300">Checkout</button>

                </div>
            </div>
        </form>
    </section>


<script>
    const productsPriceElements = document.querySelectorAll('.product-box .price');

    if (productsPriceElements) {
        let totalPrice = 0;

        productsPriceElements.forEach(element => {
            const priceText = element.textContent.trim().replace(/[^\d.]/g, '');
            const price = parseFloat(priceText);

            if (!isNaN(price)) {
                totalPrice += price;
            }
        });

        document.querySelector('.total-price').textContent = `${totalPrice} BGN`;
    }
</script>
</body>
</html>
