<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">

<head th:replace="~{fragments/head::head(pageName='Home Page')}"></head>

<body>

  <div>
    <div th:replace="~{fragments/nav::nav}"></div>


    <section th:if="${successUserDeactivation}"
             id="deactivation-window-message"
             class="fixed bg-white w-full h-full z-50 flex flex-col justify-center items-center flex-grow text-center">
      <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-4xl text-pink-600">Sad to See You Go! 😢</h1>
          <p class="mb-4 text-lg font-semibold text-gray-500">We're sorry to see you leave. Your account has been deactivated, but if you ever decide to return, we’ll be here. Thank you for being a part of our community!</p>

        </div>
      </div>
    </section>

    <div class="relative isolate pt-14">
      <div class="overflow-hidden mt-8 bg-black py-2 opacity-90">
        <div class="marquee-container animate-marquee flex h-[350px] md:h-[400px] lg:h-[550px] "
          style="--marquee-offset: 0%;">
          <img src="/images/header/1.jpg" alt="style-showcase-photo">
          <img src="/images/header/2.jpg" alt="style showcase photo">
          <img src="/images/header/3.jpg" alt="style showcase photo">
          <img src="/images/header/4.jpg" alt="style showcase photo">
          <img src="/images/header/5.jpg" alt="style showcase photo">
          <img src="/images/header/6.jpg" alt="style showcase photo">
          <img src="/images/header/7.jpg" alt="style showcase photo">

          <img src="/images/header/1.jpg" alt="style showcase photo">
          <img src="/images/header/2.jpg" alt="style showcase photo">
          <img src="/images/header/3.jpg" alt="style showcase photo">
          <img src="/images/header/4.jpg" alt="style showcase photo">
          <img src="/images/header/5.jpg" alt="style showcase photo">
          <img src="/images/header/6.jpg" alt="style showcase photo">
          <img src="/images/header/7.jpg" alt="style showcase photo">
        </div>
      </div>

      <div class="absolute inset-0 mx-auto max-w-2xl pt-44 sm:pt-64 md:pt-72">
        <div class="text-center">
          <h1
            class="animate__animated animate__slideInDown sm:mx-auto mx-2 sm:max-w-full bg-black rounded-full text-white p-2 px-10 font-mono text-xl sm:text-4xl font-bold tracking-wide ">
            GET DRIP.GIVE DRIP.</h1>
        </div>

        <div
          class="animate__animated animate__fadeInUp flex flex-col gap-2 items-center sm:flex-row justify-center gap-x-6 py-3"
          style="animation-delay: 0.5s;">
          <a th:href="@{/products/unisex/jeans}"
            class="bg-black px-6 py-3 text-xl font-semibold text-white hover:ease-in duration-200 hover:bg-white hover:text-gray-900">BROWSE
            CLOTHING</a>
          <a th:href="@{/products/new}"
            class="px-6 py-3 text-xl  text-gray-900 font-semibold bg-white hover:ease-in duration-200 hover:bg-black hover:text-white">START
            SELLING</a>
        </div>
      </div>

    </div>
  </div>





  <!-- ABOUT -->
  <div class="bg-white px-5 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8" data-aos="fade-up" data-aos-duration="1000">
      <h1
        class="animate__animated animate__zoomIn font-mono text-balance text-5xl font-semibold tracking-widest sm:text-7xl">
        DRIPIFY</h1>
      <p class="animate__animated animate__fadeInUp mt-8 text-pretty text-lg font-medium  sm:text-xl/8"
        style="animation-delay: 1s;">
        The ultimate destination for swapping and refreshing your wardrobe with ease. Our platform connects
        trendsetters, fashion lovers,
        and sustainability enthusiasts who believe in giving clothes a second chance. Say goodbye to fast fashion guilt
        and hello to a world where your style evolves effortlessly.
        It’s not just about clothes—it’s about creating a vibrant community where your drip finds new homes and your
        wardrobe tells a story.</p>
    </div>

    <div class="bg-zinc-900 mx-auto max-w-6xl p-14 mt-40 rounded-full text-white text-center" data-aos="fade-up"
      data-aos-duration="1000">
      <h1 class="font-mono text-balance text-4xl font-semibold tracking-widest sm:text-7xl">WHAT'S OUR MISSION?</h1>
      <p class="mt-8 text-pretty text-lg  sm:text-xl/8" style="animation-delay: 1s;">
        At DRIPIFY, we believe that fashion should be kind to the planet, and that’s why we’re all about giving clothes
        a second chance.
        By choosing to buy and sell second-hand fashion, you're not just updating your wardrobe – you’re making a
        positive impact on the environment.</p>


    </div>


  </div>


  <!-- FAST FASHION IMPACT -->
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl xl:px-8 text-center" data-aos="fade-up" data-aos-duration="1000">
      <h1 class="font-mono text-balance text-5xl font-semibold tracking-wide sm:text-7xl">FAST FASHION IMPACT ON OUR
        PLANET</h1>

      <div class="bg-white py-24 sm:py-28">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center xl:grid-cols-3">
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7 text-gray-600">of textile generated every year, most of which ends up in landfills
                or is incinerated.</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">92 million tons
              </dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7 text-gray-600">of water consumed annually, enough to meet the needs of 5 million
                people.</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">93 billion m³</dd>
            </div>
            <div class="mx-auto flex-wrap md:flex-nowrap flex  max-w-xs flex-col gap-y-4 ">
              <dt class="text-base/7 text-gray-600">surpassing the combined emissions of international flights and
                maritime shipping.</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl whitespace-nowrap">
                10% of global CO₂</dd>
            </div>
          </dl>
        </div>
      </div>

    </div>



  </div>


  <div class="bg-zinc-900 h-16 rounded-t-full"></div>



  <!-- COMMUNITY REVIEWS -->
  <div class="bg-zinc-900 sm:py-14">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8" data-aos="fade-up" data-aos-duration="1000">
      <p class="mx-auto text-balance text-center text-4xl font-bold tracking-wide text-white sm:text-5xl">COMMUNITY
        REVIEWS</p>
      <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 md:w-[500px] lg:w-auto md:mx-auto">

        <div class="relative lg:row-span-2 h-[600px] md:h-[700px]  ">
          <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
          <div
            class="relative flex h-full flex-col justify-between overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Ivana Marinova -
                Trendsetter</p>
              <p class="mt-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">I’ve swapped so many amazing pieces on
                Dripify! It’s not just about getting new clothes—it's about finding unique,
                one-of-a-kind items I wouldn’t find anywhere else. The whole process is so simple and fun!</p>
            </div>
            <div class="md:h-[450px] md:w-[450px] rounded-tr-full overflow-hidden">
              <img class="object-cover object-top lg:object-left-top w-full h-full"
                src="/images/reviews/ivana-marinova-outfit.jpg" alt="ivana-outfit-review-on-dripify">

            </div>
          </div>
        </div>

        <div class="relative lg:row-span-2 h-[600px] md:h-[700px]">
          <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
          <div
            class="relative flex h-full flex-col justify-between overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
            <div class="md:h-[500px] md:w-[500px] rounded-r-full rounded-tr-none overflow-hidden">
              <img class="object-cover object-top lg:object-top w-full h-full"
                src="/images/reviews/yordan-koichev-oufit.jpg" alt="yordan-outfit-review-on-dripify">
            </div>

            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10">
              <p class="text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Yordan Koychev - Vintage
                Fashion Collector</p>
              <p class="mt-2 mb-5 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">I’m so happy I joined Dripify.
                I’ve found rare vintage items and unique streetwear I couldn’t find anywhere else. Plus, it feels great
                to give my old clothes a new home!</p>
            </div>
          </div>
        </div>

        <div class="relative lg:row-span-2 h-[600px] md:h-[700px]">
          <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-[2rem]"></div>
          <div
            class="relative flex h-full flex-col md:items-end justify-between overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
            <div class="px-8 pb-3 pt-8 sm:px-10 sm:pb-0 sm:pt-10 ">
              <p class="mt-2 text-lg font-medium tracking-tight text-gray-950 max-lg:text-center">Daniela Velikova -
                Fashion Lover</p>
              <p class="mt-2 mb-2 max-w-lg text-sm/6 text-gray-600 max-lg:text-center">I love how I can refresh both my
                clothes and accessories on Dripify. From scarves to rings, it’s all about finding eco-friendly options
                without compromising on style. This site has changed the way I shop!</p>
            </div>
            <div class="md:w-[450px] md:h-[500px] rounded-tl-full overflow-hidden">
              <img class="object-cover object-center w-full h-full"
                src="/images/reviews/daniela-velikova-outfit.jpg" alt="daniela-review-on-dripify">
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>

  <div class="bg-zinc-900 h-16 rounded-b-full"></div>


  <!-- CATEGORIES -->
  <div class="bg-white">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mx-auto  py-16 sm:py-24 lg:max-w-none lg:py-32" data-aos="fade-up" data-aos-duration="1000">
        <h2 class="text-2xl font-bold text-gray-900">SHOP BY CATEGORIES</h2>

        <div
          class="mt-6 space-y-12 md:grid md:grid-cols-2 md:grid-rows-2 lg:grid-cols-4 lg:grid-rows-none md:gap-x-6 md:space-y-0">

          <a th:href="@{/products/unisex/clothing/jackets}">
            <div class="group relative text-center">
              <img src="/images/categories/jackets-category.jpg"
                alt="jackets category visual"
                class="object-top w-full lg:h-full md:h-[300px]  rounded-lg bg-white object-cover object-bottom
                 group-hover:opacity-75 max-sm:h-80 sm:aspect-[2/1] lg:aspect-square">
              <p class="text-lg font-semibold p-2 text-gray-900 group-hover:font-bold">JACKETS</p>
            </div>
          </a>

          <a th:href="@{/products/unisex/clothing/jeans}">
            <div class="group relative text-center">
              <img src="/images/categories/jeans.jpg" alt="jeans category visual"
                   class="lg:h-full md:h-[300px] object-bottom w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-[2/1] lg:aspect-square">
              <p class="text-lg font-semibold p-2 text-gray-900 group-hover:font-bold">JEANS</p>
            </div>
          </a>


          <a th:href="@{/products/unisex/shoes/sneakers}">
            <div class="group relative text-center">
              <img src="/images/categories/sneakers-category.jpg" alt="sneakers category visual"
                   class="lg:h-full md:h-[300px] w-full rounded-lg bg-white object-cover object-center
                 group-hover:opacity-75 max-sm:h-80 sm:aspect-[2/1] lg:aspect-square">
              <p class="text-lg font-semibold p-2 text-gray-900 group-hover:font-bold">SNEAKERS</p>
            </div>
          </a>

          <a th:href="@{/products/unisex/accessories}">
            <div class="group relative text-center">
              <img src="/images/categories/accessories-category.jpg" alt="accessories category visual"
                   class="lg:h-full md:h-[300px] w-full rounded-lg bg-white object-cover group-hover:opacity-75 max-sm:h-80 sm:aspect-[2/1] lg:aspect-square">
              <p class="text-lg font-semibold p-2 text-gray-900 group-hover:font-bold">ACCESSORIES</p>
            </div>
          </a>


        </div>
      </div>
    </div>
  </div>

  <div class="bg-zinc-900 h-28 rounded-t-full"></div>

  <!-- JOIN NOW -->
  <div class="bg-zinc-900 sm:py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 text-center" data-aos="fade-up" data-aos-duration="1000">
      <h1 class="font-mono text-balance text-5xl text-white font-semibold tracking-wide sm:text-7xl">WHY WAIT? JOIN
        TODAY!</h1>
      <p class="text-white mt-8 text-pretty text-lg font-medium  sm:text-xl/8" style="animation-delay: 1.5s;">
        Create your profile to unlock unlimited swapping potential. Post your items, explore fresh finds, and start
        building a wardrobe that truly reflects your vibe—all while making a positive impact on the planet.</p>

      <a th:href="@{/register}"
        class="block mt-8 max-w-xl mx-auto bg-white px-6 py-3 text-2xl  font-semibold rounded-full text-black ease-in duration-300 hover:ease-in hover:duration-300 hover:bg-zinc-600 hover:text-white uppercase">Become
        Part of the Community</a>
    </div>


  </div>



  <!-- FOOTER -->
  <footer th:replace="~{fragments/footer::footer}"></footer>

  <button id="scrollToTop"
    class="hidden sm:block fixed bottom-5 right-5 bg-black text-white text-4xl rounded-full p-5 px-8 shadow-lg opacity-0 transition-opacity duration-300">↑</button>


<script>
  setTimeout(function() {
    const deactivationWindowElement = document.getElementById('deactivation-window-message');
    deactivationWindowElement.classList.add('hidden');
  }, 6000);
</script>
</body>
</html>
