<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">

<head th:replace="~{fragments/head::head(pageName='Order Completed')}"></head>

<body>

    <div th:replace="~{fragments/nav::nav}"></div>

    <div class="mt-28"></div>
    <section class="bg-white py-8 antialiasedmd:py-16">
        <div class="mx-auto max-w-2xl px-4 2xl:px-0">
            <h2 class="text-xl font-semibold text-gray-900 sm:text-3xl mb-2">Thank you for your order!</h2>
            <p class="text-gray-500  mb-6 md:mb-8">Your order has been received and will be processed within the next
                business days. You will receive updates on the items of each seller,
                and an email once the items are shipped.</p>
            <div
                class="space-y-4 sm:space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6  mb-6 md:mb-8">
                <dl class="sm:flex items-center justify-between gap-4">
                    <dt class="font-normal mb-1 sm:mb-0 text-gray-500 ">Date</dt>
                    <dd class="font-medium text-gray-900  sm:text-end" th:text="${#temporals.format(orders.get(0).createdOn, 'dd MMM YYYY')}"></dd>
                </dl>
                <dl class="sm:flex items-center justify-between gap-4">
                    <dt class="font-normal mb-1 sm:mb-0 text-gray-500 ">Payment Method</dt>
                    <dd class="font-medium text-gray-900  sm:text-end" th:text="${orders.get(0).orderPayment}"></dd>
                </dl>
                <dl class="sm:flex items-center justify-between gap-4">
                    <dt class="font-normal mb-1 sm:mb-0 text-gray-500 ">Name</dt>
                    <dd class="font-medium text-gray-900  sm:text-end" th:text="${orders.get(0).purchaserFullName}"></dd>
                </dl>
                <dl class="sm:flex items-center justify-between gap-4">
                    <dt class="font-normal mb-1 sm:mb-0 text-gray-500 ">Address</dt>
                    <dd class="font-medium text-gray-900  sm:text-end"
                        th:text="${orders.get(0).purchaserAddress + ', ' + orders.get(0).city + ', ' + orders.get(0).country}"></dd>
                </dl>
                <dl class="sm:flex items-center justify-between gap-4">
                    <dt class="font-normal mb-1 sm:mb-0 text-gray-500 ">Phone</dt>
                    <dd class="font-medium text-gray-900  sm:text-end" th:text="${'+359 ' + orders.get(0).purchaserPhoneNumber}"></dd>
                </dl>
            </div>
            <div class="flex items-center space-x-4">
                <a th:href="@{/orders/purchases}"
                    class="text-white bg-zinc-900 hover:bg-zinc-700 focus:ring-4 focus:ring-gray-600 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none">Track
                    your order</a>
                <a th:href="@{/}"
                    class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 ">Return
                    to shopping</a>
            </div>
        </div>
    </section>

</body>
</html>
