<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">

<head th:replace="~{/fragments/head::head(pageName='New Arrivals')}">

<body class="flex flex-col min-h-screen">
<div th:replace="~{/fragments/nav::nav}"></div>

<div class="main-site-content lg:mt-24">
    <div class="flex flex-col lg:flex-row gap-2 mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-screen-2xl lg:px-8">
        <div class="lg:border-r-2 lg:pr-3">
            <div class="w-full lg:w-48 whitespace-nowrap p-3 border-2 border-opacity-50 rounded-3xl">

                <!-- New Arrivals-->
                <div class="p-2">
                    <a th:href="@{/products/new-arrivals}"
                       class="font-bold text-gray-800 mb-2 text-2xl hover:text-gray-800">New Arrivals
                    </a>
                </div>

                <!-- Women Categories -->
                <div class="p-2">
                    <button type="button"
                            class="categories-toggle-btn font-medium text-gray-600 mb-2 text-2xl hover:text-gray-800">Women
                    </button>
                    <ul class="hidden space-y-2 text-base font-semibold uppercase">
                        <hr>

                        <li th:each="category: ${categories}">

                            <a th:href="@{'/products/women/' + ${category.name}}"
                               th:text="${category.name}"
                               class="uppercase text-zinc-600 transition duration-200 ease-in hover:text-white
                                 hover:bg-zinc-400 p-1 px-2 rounded-2xl"></a>
                        </li>
                    </ul>
                </div>

                <!-- Men Categories -->
                <div class="p-2">
                    <button type="button"
                            class="categories-toggle-btn font-medium text-gray-600 mb-2 text-2xl hover:text-gray-800">Men
                    </button>
                    <ul class="hidden space-y-2 text-base font-semibold uppercase">
                        <hr>

                        <li th:each="category: ${categories}">
                            <a th:href="@{'/products/men/' + ${category.name}}"
                               th:text="${category.name}"
                               class="uppercase text-zinc-600 transition duration-200 ease-in hover:text-white
                                 hover:bg-zinc-400 p-1 px-2 rounded-2xl"></a>
                        </li>
                    </ul>
                </div>

                <!--  Unisex Categories-->
                <div class="p-2">
                    <button type="button"
                            class="categories-toggle-btn font-medium text-gray-600 mb-2 text-2xl hover:text-gray-800">Unisex
                    </button>

                    <ul class="hidden space-y-2 text-base font-semibold uppercase">
                        <hr>

                        <li th:each="category: ${categories}">

                            <a th:href="@{'/products/unisex/' + ${category.name}}"
                               th:text="${category.name}"
                               class="uppercase text-zinc-600 transition duration-200 ease-in hover:text-white
                                 hover:bg-zinc-400 p-1 px-2 rounded-2xl"></a>


                        </li>
                    </ul>
                </div>
            </div>

        </div>


        <div th:with="currentPage=${productPage.getNumber()}" class="flex-grow" >

            <div  class="p-2 pl-3 ml-1">
                <div
                        class="flex xl:flex-row flex-col justify-between">

                    <div>
                        <h2 class="text-3xl font-bold
                             tracking-tight uppercase
                             bg-zinc-900 text-white p-2 px-5 rounded-full inline-block">New Arrivals</h2>

                        <h3 class="text-xl p-2 uppercase font-bold"
                            th:text="${productPage.getTotalElements() + ' products found'}"></h3>
                    </div>
                </div>


                <div th:if="${productPage.getContent().size() > 0}"
                     class="mt-6 grid gap-x-6 gap-y-10 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                    <a th:each="product: ${productPage.getContent()}" th:href="@{/products/{id}(id=${product.id})}">

                        <div class="group relative group-hover:cursor-pointer">
                            <img th:src="${product.images.get(0).imageUrl}"
                                 th:alt="${product.name}"
                                 class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                            <div class="mt-4 flex flex-col">
                                <h3 class="text-sm text-gray-700" th:text="${product.name}">
                                    <span aria-hidden="true" class="absolute inset-0"></span>
                                </h3>

                                <div class="flex justify-between">
                                    <p class="text-sm font-medium text-gray-900" th:text="${product.price + ' BGN'}"></p>
                                    <p class="text-sm font-medium text-gray-900" th:text="${product.seller.username}"></p>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>
            </div>


            <div th:if="${productPage.getTotalPages() > 1}" class="flex items-baseline justify-center gap-2 mt-20">
                <a th:href="@{/products/new-arrivals(page=${currentPage - 1})}"
                   th:classappend="${currentPage == 0} ? 'pointer-events-none opacity-50' : ''"
                   class="mt-6 bg-black bg-opacity-50 text-white p-2 px-4 rounded-full">
                    ❮
                </a>

                <!-- Pages Info -->
                <h2 class="font-bold"
                    th:text="${currentPage + 1} + '/' + ${productPage.getTotalPages()} + ' Pages'"></h2>

                <a th:href="@{/products/new-arrivals(page=${currentPage + 1})}"
                   th:classappend="${currentPage + 1 >= productPage.getTotalPages()} ? 'pointer-events-none opacity-50' : ''"
                   class="mt-6 bg-black bg-opacity-50 text-white p-2 px-4 rounded-full">
                    ❯
                </a>
            </div>


        </div>
    </div>

</div>


<!-- FOOTER -->
<footer th:replace="~{fragments/footer::footer}"></footer>

<button id="scrollToTop"
        class="hidden sm:block fixed bottom-5 right-5 bg-black text-white text-4xl rounded-full p-5 px-8 shadow-lg opacity-0 transition-opacity duration-300">
    ↑
</button>


</body>
</html>
