<!DOCTYPE html>
<html lang="en" style="font-size: 16px;">

<head th:replace="/fragments/head::head(pageName='Products')">

<body class="flex flex-col min-h-screen">
<div th:replace="/fragments/nav::nav"></div>

  <div class="main-site-content">
    <div class="mt-28"></div>

     <div class="max-w-3xl mx-auto">
          <div class="categories grid grid-cols-4 gap-x-8">
              <a href="#">
                  <div class="relative group text-center category  ">
                      <div
                          class="image-box rounded-full aspect-square overflow-hidden border-gray-500 border-2 border-opacity-50">
                          <img src="/images/categories/products/coat-women.jpg" alt="coats category women"
                              class="object-contain bg-white group-hover:opacity-75">
                      </div>
                      <p class="text-sm font-semibold p-2 text-gray-900 group-hover:font-bold text-center">COATS & JACKETS
                      </p>
                  </div>
              </a>

              <a href="#">
                  <div class="relative group text-center category  ">
                      <div
                          class="image-box rounded-full aspect-square overflow-hidden border-gray-500 border-2 border-opacity-50">
                          <img src="/images/categories/products/tops-women.jpg" alt="tops category women"
                              class="object-contain bg-white group-hover:opacity-75">
                      </div>
                      <p class="text-sm font-semibold p-2 text-gray-900 group-hover:font-bold text-center">TOPS
                      </p>
                  </div>
              </a>

              <a href="#">
                  <div class="relative group text-center category  ">
                      <div
                          class="image-box rounded-full aspect-square overflow-hidden border-gray-500 border-2 border-opacity-50">
                          <img src="/images/categories/products/dresses-women.jpg" alt="dresses category women"
                              class="object-bottom w-full h-full object-cover bg-white group-hover:opacity-75">
                      </div>
                      <p class="text-sm font-semibold p-2 text-gray-900 group-hover:font-bold text-center">DRESSES
                      </p>
                  </div>
              </a>

              <a href="#">
                  <div class="relative group text-center category  ">
                      <div
                          class="image-box rounded-full aspect-square overflow-hidden border-gray-500 border-2 border-opacity-50">
                          <img src="/images/categories/products/shoes-women.jpg" alt="shoes category women"
                              class="w-full h-full object-cover bg-white group-hover:opacity-75">
                      </div>
                      <p class="text-sm font-semibold p-2 text-gray-900 group-hover:font-bold text-center">SHOES
                      </p>
                  </div>
              </a>
          </div>
     </div>

      <div class="flex gap-2 mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-screen-2xl lg:px-8">
          <div class="hidden sm:block border-r border-opacity-50 p-2">
              <div class="p-2 pl-0">
                  <svg class="inline-block w-8 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                       stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M4 4h16"></path>
                      <path d="M7 9h10"></path>
                      <path d="M10 14h4"></path>
                  </svg>

                  <h2 class="inline-block text-xl sm:text-2xl font-bold tracking-tight text-gray-900">Filter</h2>
              </div>


              <!-- Filter Form -->
              <form id="dropdown-filter">
                  <!-- Dropdown Menu -->
                  <div class="w-64 h-[35vh]
      overflow-y-auto
      [&::-webkit-scrollbar]:w-2
      [&::-webkit-scrollbar-track]:rounded-full
    [&::-webkit-scrollbar-track]:bg-gray-100
      [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-thumb]:bg-gray-300
      p-3 border border-opacity-50 rounded-lg">
                      <div class="text-center">
                          <button type="reset"
                                  class="px-4 py-2 text-white font-semibold bg-zinc-900 rounded-full hover:bg-zinc-600 ease-in duration-300 uppercase">reset
                              filters</button>
                      </div>



                      <!-- Categories Filter -->
                      <div class="filter-section p-2">
                          <button type="button" class="toggle-btn font-medium text-gray-900 mb-2">Categories</button>
                          <ul class="filter-content space-y-2 text-sm text-gray-700 font-semibold uppercase">
                              <li><input type="checkbox" id="tops" class="checkbox" name="categories" value="tops" />
                                  <label for="tops">Tops</label>
                              </li>
                              <li><input type="checkbox" id="jeans" class="checkbox" name="categories" value="jeans" />
                                  <label for="jeans">Jeans</label>
                              </li>
                              <li><input type="checkbox" id="sweaters" class="checkbox" name="categories" value="sweaters" /> <label
                                      for="sweaters">Sweaters</label></li>
                              <li><input type="checkbox" id="skirts" class="checkbox" name="categories" value="skirts" />
                                  <label for="skirts">Skirts</label>
                              </li>
                              <li><input type="checkbox" id="dresses" class="checkbox" name="categories" value="dresses" /> <label
                                      for="dresses">Dresses</label></li>
                              <li><input type="checkbox" id="coats" class="checkbox" name="categories" value="coats" />
                                  <label for="coats">Coats</label>
                              </li>
                              <li><input type="checkbox" id="jackets" class="checkbox" name="categories" value="jackets" /> <label
                                      for="jackets">Jackets</label></li>
                              <li><input type="checkbox" id="shoes" class="checkbox" name="categories" value="shoes" />
                                  <label for="shoes">Shoes</label>
                              </li>
                              <li><input type="checkbox" id="bags" class="checkbox" name="categories" value="bags" />
                                  <label for="bags">Bags</label>
                              </li>
                              <li><input type="checkbox" id="accessories" class="checkbox" name="categories" value="accessories" />
                                  <label for="accessories">Accessories</label>
                              </li>
                          </ul>
                          <hr class="m-2 ml-0">
                      </div>

                      <!-- Gender Filter -->
                      <div class="filter-section p-2">
                          <button type="button" class="toggle-btn font-medium text-gray-900 mb-2">Gender</button>
                          <ul class="filter-content space-y-2 text-sm text-gray-700 font-semibold uppercase hidden">
                              <li><input type="checkbox" id="women" class="checkbox" name="gender" value="women" /> <label
                                      for="women">Women</label></li>
                              <li><input type="checkbox" id="men" class="checkbox" name="gender" value="men" /> <label
                                      for="men">Men</label></li>
                          </ul>
                          <hr class="m-2 ml-0">
                      </div>

                      <!-- Clothing Size Filter -->
                      <div class="filter-section p-2">
                          <button type="button" class="toggle-btn font-medium text-gray-900 mb-2">Clothing Size</button>
                          <ul class="filter-content grid grid-cols-4 gap-2 text-sm text-gray-700 font-semibold uppercase hidden">
                              <li><input type="checkbox" id="xs" class="checkbox" name="clothing_size" value="XS" />
                                  <label for="xs">XS</label>
                              </li>
                              <li><input type="checkbox" id="s" class="checkbox" name="clothing_size" value="S" /> <label
                                      for="s">S</label></li>
                              <li><input type="checkbox" id="m" class="checkbox" name="clothing_size" value="M" /> <label
                                      for="m">M</label></li>
                              <li><input type="checkbox" id="l" class="checkbox" name="clothing_size" value="L" /> <label
                                      for="l">L</label></li>
                              <li><input type="checkbox" id="xl" class="checkbox" name="clothing_size" value="XL" />
                                  <label for="xl">XL</label>
                              </li>
                          </ul>
                          <hr class="m-2 ml-0">
                      </div>

                      <!-- Shoe Size Filter -->
                      <div class="filter-section p-2">
                          <button type="button" class="toggle-btn font-medium text-gray-900 mb-2">Shoe Size</button>
                          <ul class="filter-content grid grid-cols-5 gap-2 text-sm text-gray-700 font-semibold uppercase hidden">
                              <li><input type="checkbox" id="shoe-36" class="checkbox" name="shoe_size" value="36" />
                                  <label for="shoe-36">36</label>
                              </li>
                              <li><input type="checkbox" id="shoe-37" class="checkbox" name="shoe_size" value="37" />
                                  <label for="shoe-37">37</label>
                              </li>
                              <li><input type="checkbox" id="shoe-38" class="checkbox" name="shoe_size" value="38" />
                                  <label for="shoe-38">38</label>
                              </li>
                              <li><input type="checkbox" id="shoe-39" class="checkbox" name="shoe_size" value="39" />
                                  <label for="shoe-39">39</label>
                              </li>
                              <li><input type="checkbox" id="shoe-40" class="checkbox" name="shoe_size" value="40" />
                                  <label for="shoe-40">40</label>
                              </li>
                              <li><input type="checkbox" id="shoe-41" class="checkbox" name="shoe_size" value="41" />
                                  <label for="shoe-41">41</label>
                              </li>
                              <li><input type="checkbox" id="shoe-42" class="checkbox" name="shoe_size" value="42" />
                                  <label for="shoe-42">42</label>
                              </li>
                          </ul>
                          <hr class="m-2 ml-0">
                      </div>


                  </div>
              </form>
          </div>


          <div class="flex-grow">

              <div>
                  <h2 class="text-lg sm:text-3xl font-bold
               tracking-tight uppercase
               bg-zinc-900 text-white p-2 px-5 rounded-full inline-block">new arrivals</h2>

                  <h3 class="text-xl p-2 uppercase font-bold" th:text="${totalItems + ' products found'}"></h3>
              </div>

              <div th:if="${products}" class="mt-6 grid gap-x-6 gap-y-10 grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                  <a th:each="product: ${products}" th:href="@{/products/{id}(id=${product.id})}">

                      <div class="group relative group-hover:cursor-pointer">
                          <img src="https://media-photos.depop.com/b1/5913802/1997839635_8240334744bf42e191e6c596467700fd/P0.jpg"
                               th:alt="${product.name}"
                               class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
                          <div class="mt-4 flex justify-between">
                              <div>
                                  <h3 class="text-sm text-gray-700" th:text="${product.name}">
                                      <span aria-hidden="true" class="absolute inset-0"></span>
                                  </h3>
                                  <p class="mt-1 text-sm text-gray-500" th:text="${product.color}"></p>
                              </div>
                              <p class="text-sm font-medium text-gray-900" th:text="${product.price}"></p>
                          </div>
                      </div>

                  </a>
              </div>

              <div th:if="${totalPages > 1}" class="flex items-baseline justify-center gap-2 mt-20">
                  <!-- Previous Page Button -->
                  <a th:href="@{/products/{gender}/{category}(gender=${gender}, category=${category}, page=${currentPage - 1}, size=10)}"
                     th:classappend="${currentPage == 0} ? 'pointer-events-none opacity-50' : ''"
                     class="mt-6 bg-black bg-opacity-50 text-white p-2 px-4 rounded-full">
                      ❮
                  </a>

                  <!-- Page Info -->
                  <h2 class="font-bold" th:text="${currentPage + 1} + '/' + ${totalPages} + ' Pages'"></h2>

                  <!-- Next Page Button -->
                  <a th:href="@{/products/{gender}/{category}(gender=${gender}, category=${category}, page=${currentPage + 1}, size=10)}"
                     th:classappend="${currentPage + 1 >= totalPages} ? 'pointer-events-none opacity-50' : ''"
                     class="mt-6 bg-black bg-opacity-50 text-white p-2 px-4 rounded-full">
                      ❯
                  </a>
              </div>

          </div>
      </div>

  </div>



  <!-- FOOTER -->
  <div th:replace="/fragments/footer"></div>

  <button id="scrollToTop"
    class="hidden sm:block fixed bottom-5 right-5 bg-black text-white text-4xl rounded-full p-5 px-8 shadow-lg opacity-0 transition-opacity duration-300">↑</button>


</body>
</html>
